body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* Dodaj ten styl */
}

header {
    width: 100%;
    /* Dodaj ten styl */
}

.nav2 {
    background-color: #333;
    width: 100%;
    /* Upewnij się, że ten styl jest obecny */
    display: flex;
    /* Dodaj ten styl, aby lista była wyśrodkowana */
    justify-content: flex-start;
    /* Dodaj ten styl, aby elementy były wyrównane do lewej */
}

.nav2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav2 li {
    margin-right: 20px;
}

.nav2 li:last-child {
    margin-right: 0;
    /* Usuń margines dla ostatniego elementu */
}

.nav2 a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav2 a:hover {
    background-color: #555;
}

.nav2 .dropdown ul {
    display: none;
    position: absolute;
    background-color: #555;
}

.nav2 .dropdown:hover ul {
    display: block;
}

.nav2 .dropdown ul li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #444;
}

.nav2 .dropdown ul li:last-child {
    border-bottom: none;
}

.nav2 .dropdown ul li a {
    padding: 10px;
}

#quiz-container {
    text-align: center;
    margin-top: 50px;
    /* Dodaj margines, aby kontener quizu był poniżej paska nawigacyjnego */
}

.hidden {
    display: none;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.correct-answer {
    background-color: lightgreen;
}

.wrong-answer {
    background-color: lightcoral;
}

.selected-answer {
    color: blue;
    position: relative;
}

.selected-answer::after {
    content: '✓';
    position: absolute;
    right: -25px;
    color: blue;
}

.correct-answer {
    background-color: lightgreen;
}

.incorrect-answer {
    background-color: lightcoral;
}

.question {
    margin-bottom: 20px;
}